services:
  mc:
    image: itzg/minecraft-server
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      TYPE: FORGE
      VERSION: "1.20.1"
      FORGE_VERSION: "47.2.32"
      ONLINE_MODE: FALSE
      MAX_PLAYERS: 6
      ENABLE_COMMAND_BLOCK: true
      HARDCORE: false
      SERVER_NAME: "ValorantSoQueMelhor"
      DIFFICULTY: "hard"
      WHITELIST_FILE: "/minecraft-server/configs/whitelist.json"
      EXISTING_WHITELIST_FILE: "SYNC_FILE_MERGE_LIST"
      OPS_FILE: "/minecraft-server/configs/ops.json"
      EXISTING_OPS_FILE: "SYNC_FILE_MERGE_LIST"
    volumes:
      # attach the relative directory 'data' to the container's /data path
      - .:/minecraft-server
